:root {
  --blue-first: rgba(33, 150, 243, 1);
  --blue-second: rgba(33, 150, 243, 0.9);
  --black-first: rgba(0, 0, 0, 1);
  --black-text: rgba(33, 33, 33, 1);
  --grey-first: rgba(117, 117, 117, 1);
  --grey-second: rgba(117, 117, 117, 0.5);
  --grey-third: rgba(33, 33, 33, 0.2);
  --grey-text-op60: rgba(255, 255, 255, 0.6);
  --grey-back: rgba(47, 48, 58, 1);
  --grey-back-second: rgba(47, 48, 58, 0.8);
  --grey-line: rgba(236, 236, 236, 1);
  --grey-line-second: rgba(238, 238, 238, 1);
  --grey-icon-first: rgba(117, 117, 117, 1);
  --grey-icon-second: rgba(175, 177, 184, 1);
  --grey-icon-third: rgba(255, 255, 255, 0.1);
  --grey-icon-four: rgba(0, 0, 0, 0.1);
  --grey-background: rgba(0, 0, 0, 0.2);
  --white-first: rgba(255, 255, 255, 1);
  --white-second: rgba(245, 244, 250, 1);
  --white-third: rgba(255, 255, 255, 0.3);
  --white-four: rgba(255, 255, 255, 0.6);
  --white-background-first: rgba(245, 244, 250, 1);
  --white-backgroung-second: rgba(229, 229, 229, 1);
  --animation-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
}

header,
section,
footer {
  /* border: 1px solid; */
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

button {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}

h2 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* header,
section,
footer {
  background-color: yellow;
  outline: 2px solid blueviolet;
} */

.link-page {
  color: var(--blue-first);
  position: relative;
}

.link-page::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--blue-first);
  opacity: 1 !important;
  border-radius: 2px;
}

.page-header {
  background-color: var(--white-first);
  border-bottom: 1px solid var(--grey-line);
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
}

.header-nav > a {
  display: flex;
  align-items: center;
}

.logo-first {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--blue-first);
}

.logo-second {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--black-first);
}

.logo-third {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--white-first);
}

.header-nav-list {
  margin-left: 93px;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-text);
}

.header-nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-list .menu-link:hover,
.header-nav-list .menu-link:focus {
  color: var(--blue-first);
}

.header-nav-list .menu-link:hover::after,
.header-nav-list .menu-link:focus::after {
  opacity: 1;
}

.header-nav-list .menu-link::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--blue-first);
  opacity: 0;
  border-radius: 2px;
  transition: opacity var(--animation-timing-function);
}

.header-nav-list .menu-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--animation-timing-function);
}

.header-contacts {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-first);
}

.header-contacts .link {
  display: flex;
  align-items: center;
  color: var(--grey-icon-first);
  fill: var(--grey-icon-first);

  transition: color var(--animation-timing-function);
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--blue-first);
}

.header-contacts .link-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts {
  margin-left: auto;
}

.header-contacts > .item + .item {
  margin-left: 50px;
}

.hero {
  margin: 0 auto;
  background-color: var(--grey-back);
  text-align: center;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto auto;
}

.hero-title {
  margin: 0 auto;
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-first);
}

.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.hero-btn {
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  min-width: 200px;
  color: var(--white-first);
  background-color: var(--blue-first);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;

  transition: box-shadow var(--animation-timing-function);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0;

  opacity: 1;

  transition: opacity var(--animation-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  min-height: 581px;
  min-width: 528px;
  background-color: var(--white-first);
  top: 50%;
  left: 50%;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform var(--animation-timing-function);
}

.close-btn {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  width: 30px;
  height: 30px;
  background-color: var(--white-first);
}

.close-icon:hover,
.close-icon:focus {
  fill: var(--blue-first);
}

.close-icon {
  display: flex;
  border-radius: 50%;
  border: 1px solid var(--grey-icon-four);
  padding: 6px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;

  transition: fill var(--animation-timing-function);
}

.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.form-title {
  display: block;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-first);
}

.form-field .form-input {
  position: relative;
  height: 40px;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid var(--grey-third);
  border-radius: 4px;

  transition: border-color var(--animation-timing-function);
}

.form-field .form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  fill: var(--black-text);

  transition: fill var(--animation-timing-function);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--blue-first);
  outline: none;
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--blue-first);
}

.form-textarea:hover,
.form-textarea:focus {
  border-color: var(--blue-first);
  outline: none;
}

.form-textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--grey-third);
  border-radius: 4px;
  margin-bottom: 20px;

  transition: border-color var(--animation-timing-function);
}

.form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-second);
}

.form-send {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.form-policy {
  padding-left: 14px;
  display: flex;
  align-items: baseline;
  justify-content: baseline;
}

.form-policy .checkbox {
  appearance: none;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-check {
  border: 1.78px solid var(--black-text);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
}

.icon-check use {
  display: none;
}

.checkbox:checked + .icon-check {
  border: none;
}

.checkbox:checked + .icon-check use {
  display: block;
}

.form-policy .policy-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-first);
}

.form-policy .policy-link {
  color: var(--blue-first);
  text-decoration-line: underline;
}

.modal .form-btn:hover,
.modal .form-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal .form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-first);
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px;

  width: 200px;
  height: 50px;
  background-color: var(--blue-first);
  border-radius: 4px;
  border: none;

  transition: box-shadow var(--animation-timing-function);
}

.skills {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--white-first);
}

.skills-list {
  margin: 0;
  display: flex;
  margin-left: -30px;
}

.skills-list > .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

/* .skills .container-skills-icon:hover {
  background-color: var(--white-first);
} */

.skills .container-skills-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--white-background-first);
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.skills .skills-icon {
  width: 70px;
  height: 70px;
}

.skills-item-title {
  width: 270px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-first);
}

.activity {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 82px;
  background-color: var(--white-first);
}

.activity-title {
  text-align: center;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.activity-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.activity-list > .item {
  width: 370px;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.activity-list .thumb {
  position: relative;
}

.activity-list .activity-name {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 70px;
  width: 100%;
  background-color: var(--grey-back-second);
  text-align: center;
  padding: 27px 0;
}

.activity-list .activity-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-first);
  margin: 0;
}

.team {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--white-background-first);
}

.team-title {
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.team-list {
  margin: 0;
  display: flex;
  /* flex-wrap: wrap; */
  margin-left: -30px;
}

.team-list > .item {
  width: 270px;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.team-people-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-text);
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.people-position {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--grey-first);
  text-align: center;
}

.team-list .list-icon-link {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.team-list .item-link-icon:not(:last-child) {
  margin-right: 10px;
}

.item-link-icon .link:hover,
.item-link-icon .link:focus {
  background-color: var(--blue-first);
  color: var(--white-first);
}

.list-icon-link .link {
  display: flex;
  width: 44px;
  height: 44px;
  color: var(--grey-icon-second);
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  transition: background-color var(--animation-timing-function),
    color var(--animation-timing-function);
}

.team-list .link-icon {
  fill: currentColor;
}

.card-team {
  background-color: var(--white-first);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.clients {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--white-first);
}

.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  margin: 0;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-item .link:hover,
.clients-item .link:focus {
  border-color: var(--blue-first);
  color: var(--blue-first);
}

.clients-item .link {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid var(--grey-icon-second);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--grey-icon-second);

  transition: color var(--animation-timing-function),
    border-color var(--animation-timing-function);
}

.clients-item .link-icon {
  fill: currentColor;
}

.footer {
  /* max-width: 1600px; */
  display: flex;
  background-position: center;
  background-color: var(--grey-back);
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .address-container {
  margin-right: 70px;
}

.logo-link {
  display: inline-block;
  margin-bottom: 20px;
}

.address-house {
  display: inherit;
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-first);
}

.footer-contacts {
  margin: 0;
}

.address > .footer-contacts > li {
  display: inherit;
  padding-left: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-text-op60);
}

.address > .footer-contacts > li:not(:last-child) {
  margin-bottom: 9px;
}

.connect-container {
  margin-right: 93px;
}

.connect-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-first);
  margin-top: 0;
  margin-bottom: 20px;
}

.connect-list {
  display: flex;
  margin: 0;
}

.connect-list .connect-item:not(:last-child) {
  margin-right: 10px;
}

.connect-item .link:hover,
.connect-item .link:focus {
  background-color: var(--blue-first);
}

.connect-item .link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--grey-icon-third);
  border-radius: 50%;
  color: var(--white-first);
  justify-content: center;
  align-items: center;

  transition: background-color var(--animation-timing-function);
}

.connect-item .link-icon {
  fill: currentColor;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container .form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-first);
  text-align: left;
  margin-bottom: 20px;
}

.form-container .form-input {
  width: 358px;
  height: 50px;
  background-color: var(--grey-back);
  border: 1px solid var(--white-third);
  border-radius: 4px;
  margin-right: 12px;
  padding: 15px 16px;
}

.form-container .form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-four);
}

.form-container .form-btn:hover,
.form-container .form-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-container .form-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background-color: var(--blue-first);
  border-radius: 4px;
  color: var(--white-first);
  border: none;

  transition: box-shadow var(--animation-timing-function);
}

.form-container .btn-text {
  margin-right: 10px;
}

/* Портфолио */

.cards {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--white-first);
}

.btn-list {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.btn-list button:hover,
.btn-list button:focus {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  background-color: var(--blue-first);
  color: var(--white-first);
}

.btn-list > li:not(:last-child) {
  margin-right: 8px;
}

.btn-list button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--white-second);

  transition: background-color var(--animation-timing-function),
    color var(--animation-timing-function),
    box-shadow var(--animation-timing-function);
}

.btn-all {
  min-width: 73px;
}

.btn-web {
  min-width: 128px;
}

.btn-app {
  min-width: 145px;
}

.btn-design {
  min-width: 103px;
}

.btn-marketing {
  min-width: 130px;
}

.cards-list .item {
  background-color: var(--white-first);
  transition: box-shadow var(--animation-timing-function);
}

.cards-list > :hover,
.cards-list > :focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-list .item-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards-list .item-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey-first);
}

.cards-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.cards-list > .item {
  min-width: 370px;
  flex-basis: calc(100% / 9 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.card-link:hover .product-text,
.card-link:focus .product-text {
  opacity: 1;
}

.card-link:hover .product-overlay,
.card-link:focus .product-overlay {
  opacity: 1;
  transform: translateY(0);
}

.cards-list .card-thumb {
  position: relative;
  overflow: hidden;
}

.cards-list .product-overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: var(--blue-second);

  transform: translateY(100%);
  transition: transform var(--animation-timing-function);
}

.cards-list .product-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  opacity: 0;
}

.cards-list .card-text {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-first);
  padding: 63px 24px;
  margin: 0;
  text-align: left;
}

.container-card {
  padding: 20px 24px;
  border: 1px solid var(--grey-line-second);
  transition: filter var(--animation-timing-function);
}

.container-card:hover,
.container-card:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
