:root {
  --blue-first: rgba(33, 150, 243, 1);
  --blue-second: rgba(33, 150, 243, 0.9);
  --black-first: rgba(0, 0, 0, 1);
  --black-text: rgba(33, 33, 33, 1);
  --grey-first: rgba(117, 117, 117, 1);
  --grey-second: rgba(117, 117, 117, 0.5);
  --grey-third: rgba(33, 33, 33, 0.2);
  --grey-text-op60: rgba(255, 255, 255, 0.6);
  --grey-back: rgba(47, 48, 58, 1);
  --grey-back-second: rgba(47, 48, 58, 0.8);
  --grey-line: rgba(236, 236, 236, 1);
  --grey-line-second: rgba(238, 238, 238, 1);
  --grey-icon-first: rgba(117, 117, 117, 1);
  --grey-icon-second: rgba(175, 177, 184, 1);
  --grey-icon-third: rgba(255, 255, 255, 0.1);
  --grey-icon-four: rgba(0, 0, 0, 0.1);
  --grey-background: rgba(0, 0, 0, 0.2);
  --white-first: rgba(255, 255, 255, 1);
  --white-second: rgba(245, 244, 250, 1);
  --white-third: rgba(255, 255, 255, 0.3);
  --white-four: rgba(255, 255, 255, 0.6);
  --white-background-first: rgba(245, 244, 250, 1);
  --white-backgroung-second: rgba(229, 229, 229, 1);
  --animation-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
}

header,
section,
footer {
  /* border: 1px solid; */
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

button {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}

h2 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* header,
section,
footer {
  background-color: yellow;
  outline: 2px solid blueviolet;
} */

.page-header {
  background-color: var(--white-first);
  border-bottom: 1px solid var(--grey-line);
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__nav {
  display: flex;
}

.page-header__link {
  display: flex;
  align-items: center;
}

.page-header__logo--accent {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--blue-first);
}

.page-header__logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--black-first);
}

.page-header__logo--inverse {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--white-first);
}

.site-nav {
  margin-left: 93px;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-text);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--blue-first);
}

.site-nav__link:hover::after,
.site-nav__link:focus::after {
  opacity: 1;
}

.site-nav__link::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--blue-first);
  opacity: 0;
  border-radius: 2px;
  transition: opacity var(--animation-timing-function);
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--animation-timing-function);
}

.site-nav__link--active {
  color: var(--blue-first);
  position: relative;
}

.site-nav__link--active::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--blue-first);
  opacity: 1 !important;
  border-radius: 2px;
}

.contacts {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-first);
  margin-left: auto;
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--grey-icon-first);
  fill: var(--grey-icon-first);

  transition: color var(--animation-timing-function);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--blue-first);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.hero {
  margin: 0 auto;
  background-color: var(--grey-back);
  text-align: center;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto auto;
}

.hero__title {
  margin: 0 auto;
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-first);
}

.hero__btn:hover,
.hero__btn:focus {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.hero__btn {
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  min-width: 200px;
  color: var(--white-first);
  background-color: var(--blue-first);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;

  transition: box-shadow var(--animation-timing-function);
}

.skills {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--white-first);
}

.skills-list {
  margin: 0;
  display: flex;
  margin-left: -30px;
}

.skills-list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  display: inline-block;
}

.skills-list__image {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--white-background-first);
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.skills-list__icon {
  width: 70px;
  height: 70px;
}

.skills-list__title {
  width: 270px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.skills-list__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-first);
}

.activity {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 82px;
  background-color: var(--white-first);
}

.activity__title {
  text-align: center;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.activity__list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.activity__item {
  width: 370px;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.activity__thumb {
  position: relative;
}

.activity__name {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 70px;
  width: 100%;
  background-color: var(--grey-back-second);
  text-align: center;
  padding: 27px 0;
}

.activity__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-first);
  margin: 0;
}

.team {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--white-background-first);
}

.team__title {
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.team__list {
  margin: 0;
  display: flex;
  margin-left: -30px;
}

.team__item {
  width: 270px;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.card-team {
  background-color: var(--white-first);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-text);
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.card-team__pos {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--grey-first);
  text-align: center;
}

.card-team__contacts {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.card-team__social:not(:last-child) {
  margin-right: 10px;
}

.card-team__link:hover,
.card-team__link:focus {
  background-color: var(--blue-first);
  color: var(--white-first);
}

.card-team__link {
  display: flex;
  width: 44px;
  height: 44px;
  color: var(--grey-icon-second);
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  transition: background-color var(--animation-timing-function),
    color var(--animation-timing-function);
}

.card-team__icon {
  fill: currentColor;
}

.clients {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--white-first);
}

.clients__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients__list {
  display: flex;
  margin: 0;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--blue-first);
  color: var(--blue-first);
}

.clients__link {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid var(--grey-icon-second);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--grey-icon-second);

  transition: color var(--animation-timing-function),
    border-color var(--animation-timing-function);
}

.clients__icon {
  fill: currentColor;
}

.page-footer {
  /* max-width: 1600px; */
  display: flex;
  background-position: center;
  background-color: var(--grey-back);
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.page-footer__conatiner {
  display: flex;
  align-items: baseline;
}

.page-footer__info {
  margin-right: 70px;
}

.info__link {
  display: inline-block;
  margin-bottom: 20px;
}

.info__house {
  display: inherit;
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-first);
}

.info__contacts {
  margin: 0;
}

.info__item {
  display: inherit;
  padding-left: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-text-op60);
}

.info__item:not(:last-child) {
  margin-bottom: 9px;
}

.social-container {
  margin-right: 93px;
}

.social__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-first);
  margin-top: 0;
  margin-bottom: 20px;
}

.social__list {
  display: flex;
  margin: 0;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link:hover,
.social__link:focus {
  background-color: var(--blue-first);
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--grey-icon-third);
  border-radius: 50%;
  color: var(--white-first);
  justify-content: center;
  align-items: center;

  transition: background-color var(--animation-timing-function);
}

.social__icon {
  fill: currentColor;
}

.footer-form__container {
  display: flex;
  flex-direction: column;
}

.footer-form__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-first);
  text-align: left;
  margin-bottom: 20px;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  background-color: var(--grey-back);
  border: 1px solid var(--white-third);
  border-radius: 4px;
  margin-right: 12px;
  padding: 15px 16px;
}

.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-four);
}

.footer-form__btn:hover,
.footer-form__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background-color: var(--blue-first);
  border-radius: 4px;
  color: var(--white-first);
  border: none;

  transition: box-shadow var(--animation-timing-function);
}

.footer-form__label {
  margin-right: 10px;
}

/* Портфолио */

.cards {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--white-first);
}

.button-set {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.button-set__item:not(:last-child) {
  margin-right: 8px;
}

.button-set__btn:hover,
.button-set__btn:focus {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  background-color: var(--blue-first);
  color: var(--white-first);
}

.button-set__btn {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--white-second);

  transition: background-color var(--animation-timing-function),
    color var(--animation-timing-function),
    box-shadow var(--animation-timing-function);
}

.button-set__all {
  min-width: 73px;
}

.button-set__web {
  min-width: 128px;
}

.button-set__app {
  min-width: 145px;
}

.button-set__design {
  min-width: 103px;
}

.button-set__marketing {
  min-width: 130px;
}

.cards-set__item {
  background-color: var(--white-first);
  transition: box-shadow var(--animation-timing-function);
}

.cards-list > :hover,
.cards-list > :focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey-first);
}

.cards-set {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.product {
  min-width: 370px;
  flex-basis: calc(100% / 9 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.product__link:hover .product__container,
.product__link:focus .product__container {
  opacity: 1;
}

.product__link:hover .product__overlay,
.product__link:focus .product__overlay {
  opacity: 1;
  transform: translateY(0);
}
.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: var(--blue-second);

  transform: translateY(100%);
  transition: transform var(--animation-timing-function);
}

.product__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  opacity: 0;
}

.product__label {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-first);
  padding: 63px 24px;
  margin: 0;
  text-align: left;
}

.product__card {
  padding: 20px 24px;
  border: 1px solid var(--grey-line-second);
  transition: filter var(--animation-timing-function);
}

.product__card:hover,
.product__card:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* модалка */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0;

  opacity: 1;

  transition: opacity var(--animation-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  min-height: 581px;
  min-width: 528px;
  background-color: var(--white-first);
  top: 50%;
  left: 50%;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform var(--animation-timing-function);
}

.modal-form__close-btn {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  width: 30px;
  height: 30px;
  background-color: var(--white-first);
}

.modal-form__close-icon:hover,
.modal-form__close-icon:focus {
  fill: var(--blue-first);
}

.modal-form__close-icon {
  display: flex;
  border-radius: 50%;
  border: 1px solid var(--grey-icon-four);
  padding: 6px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;

  transition: fill var(--animation-timing-function);
}

.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form__title {
  display: block;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form__field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.modal-form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-first);
}

.modal-form__input {
  position: relative;
  height: 40px;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid var(--grey-third);
  border-radius: 4px;

  transition: border-color var(--animation-timing-function);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  fill: var(--black-text);

  transition: fill var(--animation-timing-function);
}

.modal-form__input:hover,
.modal-form__input:focus {
  border-color: var(--blue-first);
  outline: none;
}

.modal-form__input:hover + .modal-form__icon,
.modal-form__input:focus + .modal-form__icon {
  fill: var(--blue-first);
}

.modal-form__textarea:hover,
.modal-form__textarea:focus {
  border-color: var(--blue-first);
  outline: none;
}

.modal-form__textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--grey-third);
  border-radius: 4px;
  margin-bottom: 20px;

  transition: border-color var(--animation-timing-function);
}

.modal-form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-second);
}

.modal-form__send {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.modal-form__policy {
  padding-left: 14px;
  display: flex;
  align-items: baseline;
  justify-content: baseline;
}

.modal-form__checkbox {
  appearance: none;
}

.modal-form__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form__icon-check {
  border: 1.78px solid var(--black-text);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
}

.modal-form__icon-check use {
  display: none;
}

.modal-form__checkbox:checked + .modal-form__icon-check {
  border: none;
}

.modal-form__checkbox:checked + .modal-form__icon-check use {
  display: block;
}

.modal-form__policy-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-first);
}

.modal-form__policy-link {
  color: var(--blue-first);
  text-decoration-line: underline;
}

.modal-form__btn:hover,
.modal-form__btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-first);
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px;

  width: 200px;
  height: 50px;
  background-color: var(--blue-first);
  border-radius: 4px;
  border: none;

  transition: box-shadow var(--animation-timing-function);
}
